.button:hover {
    -fx-background-color: #999999;
    -fx-background-radius: 50px;
}

.button:pressed {
    -fx-background-color: #777777;
    -fx-scale-x: 0.95;
    -fx-translate-y: 2;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-color: #123456;
    -fx-background-insets: 3;
    -fx-border-radius: 25%;
}

#avatares {
    height: 30;
    width: 30;
}

.radioButton:disabled {
    -fx-opacity: 1.0;

}
